*{
    margin: 0;
    padding: 0;
}
#topnav{
    width: 100%;
    height: 59px;
    /*border: 1px solid black;*/
}
#logo{
    width: 136px;
    height: 58px;
    /*border: 1px solid black;*/
    background: url("../img/mafengwo/header-sprites13.png") no-repeat 0px 15px;
    margin-left: 280px;
    float: left;
}
#topnav_2{
    float: left;
    width: 630px;
    height: 60px;
    /*
    border: 1px solid  black;
    */
    margin-left: 20px;
}

#topnav_2>ul>li{
    float: left;
    list-style: none;
    border: 1px solid white;/*加了这个不会跳动*/
    font-family:微软雅黑 ;
    font-size: 16px;
}
#topnav_2>ul>li:first-child{
    background-color: #ff9d00;

}
#topnav_2>ul>li>a{
    display: block;
    height: 58px;
    line-height: 58px;
    padding: 0 16px;
    text-decoration: none;
    color: black;

}
#topnav_2>ul>li>a:hover{
    color: #ff9d00;
    border-bottom: 2px solid  #ff9d00 ;
}
#topnav_2>ul>li>span{
    display: inline-block;
    width: 100px ;
    height: 58px;
    line-height: 58px;
    text-align: center;
    /*border: 1px solid black;*/
}
.icon-caret-down {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 4px solid #666;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    overflow: hidden;
    margin-bottom: 3px;
}

#topnav_3>ul{
    position: relative;
    text-align: left;
    list-style: none;
    border: 1px solid #cccccc;
    border-left: none;
    border-top: none;
    width: 140px;
    display: none;
    background-color: white;
    top:-1px;
    z-index: 2;

}
#topnav_3>ul>li{
    height: 35px;
}
.i-hot{
    position: absolute;
    margin: 12px 0 0 8px;
    height: 14px;
    background-color: #f46240;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 0 4px 0 3px;
    font-style: normal;
}
.i-new{
    margin-top: 12px;
    position: absolute;
    margin: 4px 0 0 8px;
    height: 14px;
    background-color: green;
    color: #fff;
    font-size: 12px;
    line-height: 13px;
    padding: 0 4px 0 3px;
    font-style: normal;
}
#topnav_3:hover >ul{
    display: block;

}
#topnav_3:hover{
    border-top: 2px solid  #ff9d00;
    border-left:1px solid #cccccc ;
    /*border-right:1px solid #cccccc ;*/
    color: #ff9d00;
}
#topnav_3 a{
    display: inline-block;
    height: 35px;
    width: 130px;
    text-decoration: none;
    color: black;
    padding-left: 10px;
}
#topnav_3 a:hover{
    background-color: #cccccc;
}

#topnav_4{
    border-right: 1px solid #cccccc;
    border-bottom:1px solid #cccccc ;
    border-left:1px solid #cccccc  ;
    width: 300px;
    height: 250px;
    display: none;
    position: relative;
    background-color: white;
    top: -1px;
}
#topnav_4_1,#topnav_4_2{
    float: left;
}
#topnav_4_1>ul,#topnav_4_2>ul{
    list-style: none;
}
#topnav_4_2>ul{
    margin-top: 20px;
}
#topnav_4_1>ul>li{
   margin-top: 30px;
   margin-left: 30px;
}
#topnav_4_2>ul>li{
    margin-top: 8px;
    margin-left: 50px;
}
#topnav_4_3:hover #topnav_4{
    display: block;
}

#topnav_4_3:hover{
    border-top: 2px solid #ff9d00;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
#topnav_4_3 a{
    color:black ;
    text-decoration: none;
}
#topnav_4_3 a:hover{
    color:#ff9d00 ;
}
/*小图标*/
#topnav_5{
    float: left;
    /*border: 1px solid black;*/
    height: 58px;
    width: 200px;
}
#topnav_5 a{
    color: #ff9d00;
    text-decoration: none;
}
#topnav_5 a:hover{
    text-decoration:underline;
}
#topnav_5_1 {
    width: 28px;
    height: 28px;
    /*border: 1px solid black;*/
    background: url("../img/mafengwo/header-sprites13.png") 0 -50px;
    margin: 15px 10px 0px 0px;
}
#topnav_5_1:hover{
    background: url("../img/mafengwo/header-sprites13.png") 0 -80px;

}
#topnav_5_2{
    width: 28px;height: 28px;
    /*border: 1px solid black;*/
    background: url("../img/mafengwo/header-sprites13.png") -29px -50px;
    margin:15px 10px 0px 0px;
}
#topnav_5_2:hover{
    background: url("../img/mafengwo/header-sprites13.png") -29px -80px;
}
#topnav_5_3{
   width: 28px;height: 28px;
    /*border: 1px solid black;*/
    background: url("../img/mafengwo/header-sprites13.png") 0 -165px;
    margin:15px 10px 0px 0px;
}
#topnav_5_3:hover{
    background: url("../img/mafengwo/header-sprites13.png") -30px -165px;
}
/*轮播图片*/
#picture{
    width: 100%;
    height: 550px;
    border: 1px solid black;
    clear: both;
    /*
    background: url("../img/mafengwo/pic1.jpg");
    */
   /*position: relative;
    z-index: -2;*//*清除这个,就可以点轮播图了*/
    animation-name: mypicture;
    /*animation-timing-function: linear;*/
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-duration: 25s;
    /*animation-delay: 3s;*/
    animation-iteration-count: infinite


}
/*创建动画的名字 和执行  帧*/
@keyframes mypicture{
    0%,20%{background: url("../img/mafengwo/pic1.jpeg");}
    25%,40%{background: url("../img/mafengwo/pic2.jpg");}
    45%,60%{background: url("../img/mafengwo/pic3.jpg");}
    65%,80%{background: url("../img/mafengwo/pic4.jpg");}
    85%,100%{background: url("../img/mafengwo/pic5.jpeg");}
 }
#picture img{
    width: 1580px;
    height: 550px;
}
#p1{
    color: white;
    font-size: 15px;
    position: absolute;
    left: 450px;
    top: 660px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}


#a1{
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-shadow:  2px 2px 3px rgba(0,0,0,.9);
    position: absolute;
    left: 280px;
    top: 160px;
    z-index: 0;
}
#find{
    width: 600px;
    height: 100px;
    /*
    border: 1px solid black;
    */
    position: absolute;
    left: 450px;
    top: 550px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.6);
}
#find1{
    margin-top: 10px;
    width: 518px;
    height: 26px;
   /* border: 1px solid black;*/
}
#find1>ul>li{
    float: left;
    list-style: none;
    margin: 3px 15px;

}
#find1>ul>li>a{
    color: white;
    text-decoration: none;
}
#find1>ul span{
    display: inline-block;
    width: 17px;
    height: 17px;
   /* border: 1px solid black;*/
    background: url("../img/mafengwo/header-sprites13.png") -60px -110px;

}
#sp1:hover,#sp2:hover,#sp3:hover,#sp4:hover{
    background: url("../img/mafengwo/header-sprites13.png") -60px -140px;
}
#find2{
 display: inline-block;
    margin-left: 10px;
}
#find2 input{
    width: 520px;
    height:45px ;
    border-radius: 5px;
}
#find2 a{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 5px;
    border-radius: 5px;
    /*border: 1px solid black;*/
    background-color: #ff9d00;
}
#find2 a>i{
    margin: 8px;
    display: inline-block;
    /*border: 1px solid black;*/
    width: 25px;
    height: 25px;
    background: url("../img/mafengwo/header-sprites13.png") -26px -107px ;

}

/*侧面轮播图*/
#rightpicture{
    /*width: 150px;
    height: 400px;*/
    /*border: 1px solid black;*/
    position: absolute;
    left: 90%;
    top: 190px;
}
#rightpicture>ul>li{
    list-style: none;
    margin: 5px;
    width: 110px;
    height: 60px;
   /* border: 1px solid black;*/
}

#d1{
    border: 2px solid  #ff9d00 ;
    animation-name: myrightpic;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    -webkit-animation-iteration-count: infinite;

}
#d2{
    border: 2px solid  white ;
    animation-name: myrightpic;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    -webkit-animation-iteration-count: infinite;

}
#d3{
    border: 2px solid  white ;
    animation-name: myrightpic;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    -webkit-animation-iteration-count: infinite;

}
#d4{
    border: 2px solid white ;
    animation-name: myrightpic;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    -webkit-animation-iteration-count: infinite;

}
#d5{
   /* border: 2px solid  #ff9d00 ;*/
    border: 2px solid white;
    animation-name: myrightpic;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    -webkit-animation-iteration-count: infinite;




}
/*创建动画名字,和帧*/
@keyframes myrightpic {
      /*  0%{border: 2px solid #ff9d00  }*/
    0%,20%{ border: 2px solid white}
    25%,40%{border:2px solid  #ff9d00}
    45%,60%{border:2px solid  #ff9d00}
    65%,80% {border:2px solid  #ff9d00}
    85%,100% {border:2px solid  #ff9d00}
}

/*历历在目*/
#look{
    width: 120px;
    height: 40px;
    /*border: 1px solid black;*/
    background: url("../img/mafengwo/index-sprites9.png") no-repeat -57px -48px;
    position: absolute;
    left: 90%;
    top: 550px;
}
/*正文部分*/
#out{
    width: 1025px;
    height: 1500px;
   /* border: 1px solid black;*/
    margin: 20px auto;
    clear: both;
    display: flex;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;;
}
/*左边部分*/
#left{
    /*width: 300px;*/
   /* height: 800px;*/
    /*border: 1px solid black;*/

}
#left1{
    width: 1500px;
   /* height: 241px;*/
    /*border: 1px solid black;*/
    position: absolute;
}
/*给左侧轮播部分,做一个相框*/
#box{
    width: 260px;
    height: 260px;
    /*border: 1px solid #ff9d00;*/
    position: relative;
    z-index: 1;
    overflow: hidden;

}


#left1>ul li{
    z-index: 0;
    position: relative;
   float: left;
    width: 260px;
    list-style: none;
    animation-name: myleft;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}
/*设置动画名字，和帧*/
@keyframes myleft {
    0%,20%{ transform: translate(0px);}
    25%,40%{ transform: translate(-260px);}
    45%,60%{ transform: translate(-520px);}
    65%,80% { transform: translate(-780px);}
    85%,100%{ transform: translate(-1040px);}
}
#left1 a:hover{
    color: #ff9d00;
    animation-play-state:paused;
}
/*左侧轮播图下面的正文*/
#left2{
    width: 260px;
    /*height: 300px;*/
   /*border: 1px solid black;*/
}
#left2>ul{
    text-decoration: none;
    color: #666;
    font-size: 14px;
    list-style: none;
    margin-top: 15px;
}
#left2>ul>li{
    height: 25px;
}
#left2>ul a{
    text-decoration: none;
    color:#ff9d00 ;
}
#a2{
   text-decoration: none;
    color: #333;
    font-size: 16px
}
#a2:hover{
    color:#ff9d00 ;
    text-decoration: underline;
}
#left2>ul a:hover{
    text-decoration: underline;
}
/*我的活动正文*/
#left3{
    width: 260px;
    margin-top: 30px;
    /*
    border: 1px solid black;
    */
}
.aa{
    display: block;
    color: #666;
    /*
    border: 1px solid black;
    */
    padding: 2px 0px;
    text-decoration: none;
    background: url("../img/mafengwo/wKgBZ1kane2ASSt7AAAIPigwK0w270.png") no-repeat 5px;
    margin: 20px 0px 0px 0px;
}
.bb{
    display: block;
    color: #666;
    padding: 2px 0px;
    text-decoration: none;
    background: url("../img/mafengwo/wKgBZ1kZTLGAJ-1OAAAHuy4Dywg865.png") no-repeat 5px;
    margin: 5px 0px;
}
.cc{
     display: block;
     color: #666;
     padding: 2px 0px;
     text-decoration: none;
     background: url("../img/mafengwo/wKgBZ1j4cfuALGrIAAAIdwoKztE136.png") no-repeat 5px;
     margin: 5px 0px;
 }
.dd{
    display: block;
    color: #666;
    padding: 2px 0px;
    text-decoration: none;
    background: url("../img/mafengwo/wKgBZ1jkYEeAMEcQAAAINHCOOag014.png") no-repeat 5px;
    margin: 5px 0px;
}
.ee{
    display: block;
    color: #666;
    padding: 2px 0px;
    text-decoration: none;
    background: url("../img/mafengwo/wKgBpVWc9HeAWnw3AAAK9pjVex8968.png") no-repeat 5px;
    margin: 5px 0px;
}
.aa:hover,.bb:hover,.cc:hover,.dd:hover,.ee:hover{
background-color: rgba(208, 208, 208, 0.53)}
#left3 p{
    margin-left: 55px;
}
/*加入蚂蜂窝正文*/
#left4{
    width: 260px;
    margin-top: 30px;
    /*
    border: 1px solid black;
    */
}
#left4 li{
    list-style: none;
    height: 30px;

}
#left4>ul a{
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 15px;

}
#left4>ul a:hover,#left4>ul span:hover{
    color: #ff9d00;
}
#left4 span{
    float: right;
    font-size: 12px;
    color: #999;
}
#left4>ul i{
    background: url("../img/mafengwo/sprite.png")no-repeat 0px -26px;
    padding-left: 10px;
    margin-left: 6px;
    font-size: 10px;
    font-style: normal;
    color: #d0122b;
}
/*马蜂窝旅行网站最新进展*/
#left5{
    margin-top: 15px; ;
}
#left5>ul>:first-child{
    font-size: 18px;
    color: #333;
    font-weight: normal;
}
#left5>ul>li{
    list-style: none;
    height: 30px;
    width: 260px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #6c6c6c;
}
#left5>ul>li>a{
   text-decoration: none;
    color: #6c6c6c ;
}
#left5>ul>li:not(:first-child)>a:hover{/*伪类选择器，第一个超链接不加下划线*/
    text-decoration: underline;
}

/*右边部分*/
#right{
    width: 700px;
    height: 1600px;
   /* border: solid 1px black;*/
    margin-left: 20px;
}
/*右边部分爆款热卖*/
#right1{
    font-size: 18px;
    color: #333;
    margin-bottom: 12px;
    line-height: 35px;
}
/*右边爆款热卖3张图片*/
#right2{
    justify-content: space-between;
    /*
    border: 1px solid red;
    */
    width: 700px;
    height: 275px;
}
#right2_1>li{
    float: left;
    list-style: none;
    width: 220px;
    height: 202px;
    /*
    border: 1px solid blue;
    */
    overflow: hidden;
}
#right2_1 span{
    position: absolute;
    /*
    border: 1px solid black;
    */
    top: 888px;
    left:728px;
    color: white;
    font-size: 10px;
    background-color: #ff6155;
    height: 20px;
    line-height: 20px;
    width: 55px;
    text-align: center;
}
#rr1{
    position: absolute;
    top: 1000px;
    left:563px;
    /*border: 1px solid black;*/
    width: 220px;
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 15px;
    background-color: rgba(255,97,85,.9);
}
#rr1>i{
    float: right;
}









#right2_1>:first-child>a>h3{
    background-color: #fff;
    font-weight: normal;
    color: #000;
    font-size: 14px;
    /*
    border: 1px solid black;
    */
    height:130px;
    width: 220px;
    background: white;
    transform: translate(0px,2px);
    transition:transform 0.5s linear;
    /*
    position: absolute;
    */
}
#right2_1>:first-child>a{
    text-decoration: none;
    color: black;
}
#right2_2{
    width: 220px;
    height: 20px;;
    /*
    border: 1px solid black;
    */
    position: absolute;
    top: 1070px;
    background: white;
    color: #ff9d00;
}
#right2_1>:first-child>a:hover >h3{
    transform: translate(0px,-50px);
    color: #ff9d00;
    background-color: #f8f8f8;
}
#right2_1>:first-child>a:hover >#right2_2{
    background-color: #f8f8f8;
}
#right2_1>:last-child{
    float: right;
}
#right2_1>:nth-child(2){
    margin: 0px 17px;
}
/*第二张上播图*/
#right2_4>h3{
    /*border: 1px solid black;*/
    background-color: #fff;
    font-weight: normal;
    color: #000;
    font-size: 14px;
    /*border: 1px solid black;*/
    height:128px;
    width: 220px;
    background: white;
    transform: translate(0px,2px);
    transition:transform 0.5s linear;
}
#right2_3{
    width: 220px;
    height: 20px;;
    /*
    border: 1px solid black;
    */
    position: absolute;
    top: 1070px;
    background: white;
    color: #ff9d00;
}
#right2_4:hover >#right2_3{
    background-color: #f8f8f8;
}
#right2_4:hover  >h3{
    transform: translate(0px,-50px);
    color: #ff9d00;
    background-color: #f8f8f8;
}
#right2_4{
    text-decoration: none;
}
/*第三张上播图*/
#right2_5{
    text-decoration: none;
    font-size: 14px;
    color:#000 ;
}
#right2_5>h3{
    background-color: #fff;
    font-weight: normal;
    color: #000;
    font-size: 14px;
    /*
    border: 1px solid black;
    */
    height:130px;
    width: 220px;
    background: white;
    transform: translate(0px,0px);
    transition:transform 0.5s linear;
}
#right2_5>:nth-child(3){
    width: 220px;
    height: 20px;;
    /*
    border: 1px solid black;
    */
    position: absolute;
    top: 1070px;
    background: white;
    color: #ff9d00;
}
#right2_5:hover >h3{
    transform: translate(0px,-50px);
    color: #ff9d00;
    background-color: #f8f8f8;
}
#right2_5>:hover :nth-child(3){
    background-color: #f8f8f8
}
/*右边正文部分列表导航*/
#right3{
    width: 700px;
    height: 40px;
    /*border: 1px solid black;*/
    border-bottom: 1px solid #cccccc;
  clear: both;
   /* position: relative;
    top: -40px;*/


}
#right3_1>li{
    list-style: none;
    /*border: 1px solid black;*/

}
#i1,#i2{
    float: left;
}

#i1{
    margin-top: 7px;
    border-bottom: 2px solid #ff9d00 ;
    height: 30px;
}
#i3{
    width:250px;
    height: 50px;
 float: right;
}
#i1>span{
    display: inline-block;
    margin-left: 7px;
    line-height: 20px;
    border: 1px solid #e5e5e5;
    color: #666;
    font-size: 12px;
    padding: 0 10px 0 8px;
    cursor: pointer;
    vertical-align: 2px;
}
#i1>span:hover{
    background-color: #ff9d00;
}
#i1>span>i{
    float: left;
    margin: 6px 5px 0 0;
    width: 11px;
    height: 8px;
    background: url(../img/mafengwo/index-sprites9.png) no-repeat 0 -130px;
}
#i2{
    margin: 7px 120px;
    color: #333;
}
#i2:hover >a{
    color: #ff9d00;
}
#i2>a{
    color: #333333;
    text-decoration: none;
}
#i3>a>i{
    float: left;
    margin-top: 10px;
    width: 16px;
    height: 16px;
    background: url(../img/mafengwo/index-sprites9.png) no-repeat;
    background-position: -100px -30px;
}
#i3>a b {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #ff9d00;
    margin-top: 8px;
    /*border: 1px solid black;*/
}
#i3>a>span{
    margin-left: 100px;
    border: 1px solid black;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width:100px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: -20px;
    left: 27px;
    background-color:#ff9d00 ;
    text-decoration: none;
    color: white;
}
#i3>a>span:hover{
    background-color: rgba(255, 157, 0, 0.7);
}
/*右边正文*/
#right4{/*右边总高度*/
    /*border: 1px solid black;*/
    width: 700px;
    height: 1150px;
    clear: both;

}
/*右边正文*/
#right4_1,#rrr{
    float: left;
}
#right4_1{
    /*width: 220px;
    height: 150px;*/
    overflow: hidden;

}
#right4_1>img{
    transform:scale(1);
    transition: transform 0.3s linear;

}
#ww:hover #right4_1>img{
    transform:scale(1.1);
}

#right4_2{
    width: 455px;
    height: 120px;
    /*
    border: 1px solid black;
    */
    margin-left: 20px;
}
#right4_3{
    clear: both;
    margin-left: 20px;
    width: 455px;
    height: 33px;
    /*
    border: 1px solid black;
    */
}

/* <!--第一篇正文-->*/
#right4_2 dt>a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
#right4_2 dt>a:hover{
    color: #ff9d00;
}

#right4_2 dd>a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
#right4_2{
    float: left;
    height: 114px;
}
#right4_4>i{
    margin-top: 8px;
    overflow: hidden;
    float: left;
    width: 16px;
    height: 16px;
    /*
    border: 1px solid black;
    */
    background: url("../img/mafengwo/index-sprites9.png") no-repeat 0px -50px;
}
#right4_4{
    float: left;
    height: 33px;
    color: #666;
    font-size: 14px;
    line-height: 33px;
}
#right4_4>a{
    text-decoration:none;
}
#right4_4>a:hover{
    color: #ff9d00;
    text-decoration: underline;
}
#right4_5{
    margin-left: 10px;
    float: left;
    height: 33px;
    color: #ff9d00;
    font-size: 14px;
    line-height: 33px;
}
#right4_5:hover{
    text-decoration: underline;
}
#right4_5>img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: -3px;
}
#right4_6{
    margin-left: 10px;

    float: left;
    height: 33px;
    line-height: 33px;
    width: 60px;
    /*
    border: 1px solid black;
    */
    font-size: 14px;
    color: rgba(65, 65, 65, 0.56);
}
#right4_6>i{
    margin-top: 8px;
    float: left;
    /*
    border: 1px solid black;
    */
    height: 16px;
    width: 20px;
    background: url("../img/mafengwo/index-sprites9.png ")  no-repeat -30px -50px;

}
#right4_7{
    float: right;
}
#right4_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right4_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}


/*右边正文2*/
#right5_1,#rrr2{
    float: left;
}
/*图片放大*/
#right5_1{
    /*width: 220px;
    height: 150px;*/
    overflow: hidden;

}
#right5_1>img{
    transform:scale(1);
    transition: transform 0.3s linear;

}
#ee:hover #right5_1>img{
    transform:scale(1.1);
}







#right5_2{
    width: 455px;
    height: 120px;
    /*
    border: 1px solid black;
    */
    margin-left: 20px;
}
#right5_3{
    clear: both;
    margin-left: 20px;
    width: 455px;
    height: 33px;
    /*
    border: 1px solid black;
    */
}

/* <!--第二篇正文-->*/
#right5_2 dt>a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
#right5_2 dt>a:hover{
    color: #ff9d00;
}

#right5_2 dd>a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
#right5_2{
    float: left;
    height: 114px;
}
#right5_4>i{
    margin-top: 8px;
    overflow: hidden;
    float: left;
    width: 16px;
    height: 16px;
    /*
    border: 1px solid black;
    */
    background: url("../img/mafengwo/index-sprites9.png") no-repeat 0px -50px;
}
#right5_4{
    float: left;
    height: 33px;
    color: #666;
    font-size: 14px;
    line-height: 33px;
}
#right5_4>a{
    text-decoration:none;
}
#right5_4>a:hover{
    color: #ff9d00;
    text-decoration: underline;
}
#right5_5{
    margin-left: 10px;
    float: left;
    height: 33px;
    color: #ff9d00;
    font-size: 14px;
    line-height: 33px;
}
#right5_5:hover{
    text-decoration: underline;
}
#right5_5>img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: -3px;
}
#right5_6{
    margin-left: 10px;

    float: left;
    height: 33px;
    line-height: 33px;
    width: 60px;
    /*
    border: 1px solid black;
    */
    font-size: 14px;
    color: rgba(65, 65, 65, 0.56);
}
#right5_6>i{
    margin-top: 8px;
    float: left;
    /*
    border: 1px solid black;
    */
    height: 16px;
    width: 20px;
    background: url("../img/mafengwo/index-sprites9.png ")  no-repeat -30px -50px;

}
#right5_7{
    float: right;
}
#right5_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right5_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}


/*右边正文3*/
#right6_1,#rrr3{
    float: left;
}

#right6_2{
    width: 455px;
    height: 120px;
    /*
    border: 1px solid black;
    */
    margin-left: 20px;
}
#right6_3{
    clear: both;
    margin-left: 20px;
    width: 455px;
    height: 33px;
    /*
    border: 1px solid black;
    */
}

/* <!--第3篇正文-->*/
#right6_2 dt>a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
#right6_2 dt>a:hover{
    color: #ff9d00;
}

#right6_2 dd>a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
#right6_2{
    float: left;
    height: 114px;
}
#right6_4>i{
    margin-top: 8px;
    overflow: hidden;
    float: left;
    width: 16px;
    height: 16px;
    /*
    border: 1px solid black;
    */
    background: url("../img/mafengwo/index-sprites9.png") no-repeat 0px -50px;
}
#right6_4{
    float: left;
    height: 33px;
    color: #666;
    font-size: 14px;
    line-height: 33px;
}
#right6_4>a{
    text-decoration:none;
}
#right6_4>a:hover{
    color: #ff9d00;
    text-decoration: underline;
}
#right6_5{
    margin-left: 10px;
    float: left;
    height: 33px;
    color: #ff9d00;
    font-size: 14px;
    line-height: 33px;
}
#right6_5:hover{
    text-decoration: underline;
}
#right6_5>img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: -3px;
}
#right6_6{
    margin-left: 10px;

    float: left;
    height: 33px;
    line-height: 33px;
    width: 60px;
    /*
    border: 1px solid black;
    */
    font-size: 14px;
    color: rgba(65, 65, 65, 0.56);
}
#right6_6>i{
    margin-top: 8px;
    float: left;
    /*
    border: 1px solid black;
    */
    height: 16px;
    width: 20px;
    background: url("../img/mafengwo/index-sprites9.png ")  no-repeat -30px -50px;

}
#right6_7{
    float: right;
}
#right6_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right6_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}

#right6_7{
    float: right;
}
#right6_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right6_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}



/*右边正文4*/
#right7_1,#rrr4{
    float: left;
}

#right7_2{
    width: 455px;
    height: 120px;
    /*
    border: 1px solid black;
    */
    margin-left: 20px;
}
#right7_3{
    clear: both;
    margin-left: 20px;
    width: 455px;
    height: 33px;
    /*
    border: 1px solid black;
    */
}


#right7_2 dt>a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
#right7_2 dt>a:hover{
    color: #ff9d00;
}

#right7_2 dd>a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
#right7_2{
    float: left;
    height: 114px;
}
#right7_4>i{
    margin-top: 8px;
    overflow: hidden;
    float: left;
    width: 16px;
    height: 16px;
    /*
    border: 1px solid black;
    */
    background: url("../img/mafengwo/index-sprites9.png") no-repeat 0px -50px;
}
#right7_4{
    float: left;
    height: 33px;
    color: #666;
    font-size: 14px;
    line-height: 33px;
}
#right7_4>a{
    text-decoration:none;
}
#right7_4>a:hover{
    color: #ff9d00;
    text-decoration: underline;
}
#right7_5{
    margin-left: 10px;
    float: left;
    height: 33px;
    color: #ff9d00;
    font-size: 14px;
    line-height: 33px;
}
#right7_5:hover{
    text-decoration: underline;
}
#right7_5>img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: -3px;
}
#right7_6{
    margin-left: 10px;

    float: left;
    height: 33px;
    line-height: 33px;
    width: 60px;
    /*
    border: 1px solid black;
    */
    font-size: 14px;
    color: rgba(65, 65, 65, 0.56);
}
#right7_6>i{
    margin-top: 8px;
    float: left;
    /*
    border: 1px solid black;
    */
    height: 16px;
    width: 20px;
    background: url("../img/mafengwo/index-sprites9.png ")  no-repeat -30px -50px;

}
#right7_7{
    float: right;
}
#right7_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right7_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}

#right7_7{
    float: right;
}
#right7_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right7_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}




/*右边正文5*/
#right8_1,#rrr5{
    float: left;
}

#right8_2{
    width: 455px;
    height: 120px;
    /*
    border: 1px solid black;
    */
    margin-left: 20px;
}
#right8_3{
    clear: both;
    margin-left: 20px;
    width: 455px;
    height: 33px;
    /*
    border: 1px solid black;
    */
}


#right8_2 dt>a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
#right8_2 dt>a:hover{
    color: #ff9d00;
}

#right8_2 dd>a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
#right8_2{
    float: left;
    height: 114px;
}
#right8_4>i{
    margin-top: 8px;
    overflow: hidden;
    float: left;
    width: 16px;
    height: 16px;
    /*
    border: 1px solid black;
    */
    background: url("../img/mafengwo/index-sprites9.png") no-repeat 0px -50px;
}
#right8_4{
    float: left;
    height: 33px;
    color: #666;
    font-size: 14px;
    line-height: 33px;
}
#right8_4>a{
    text-decoration:none;
}
#right8_4>a:hover{
    color: #ff9d00;
    text-decoration: underline;
}
#right8_5{
    margin-left: 10px;
    float: left;
    height: 33px;
    color: #ff9d00;
    font-size: 14px;
    line-height: 33px;
}
#right8_5:hover{
    text-decoration: underline;
}
#right8_5>img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: -3px;
}
#right8_6{
    margin-left: 10px;

    float: left;
    height: 33px;
    line-height: 33px;
    width: 60px;
    /*
    border: 1px solid black;
    */
    font-size: 14px;
    color: rgba(65, 65, 65, 0.56);
}
#right8_6>i{
    margin-top: 8px;
    float: left;
    /*
    border: 1px solid black;
    */
    height: 16px;
    width: 20px;
    background: url("../img/mafengwo/index-sprites9.png ")  no-repeat -30px -50px;

}
#right8_7{
    float: right;
}
#right8_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right8_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}

#right8_7{
    float: right;
}
#right8_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right8_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}


/*右边正文6*/
#right9_1,#rrr6{
    float: left;
}

#right9_2{
    width: 455px;
    height: 120px;
    /*
    border: 1px solid black;
    */
    margin-left: 20px;
}
#right9_3{
    clear: both;
    margin-left: 20px;
    width: 455px;
    height: 33px;
    /*
    border: 1px solid black;
    */
}


#right9_2 dt>a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
#right9_2 dt>a:hover{
    color: #ff9d00;
}

#right9_2 dd>a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
#right9_2{
    float: left;
    height: 114px;
}
#right9_4>i{
    margin-top: 8px;
    overflow: hidden;
    float: left;
    width: 16px;
    height: 16px;
    /*
    border: 1px solid black;
    */
    background: url("../img/mafengwo/index-sprites9.png") no-repeat 0px -50px;
}
#right9_4{
    float: left;
    height: 33px;
    color: #666;
    font-size: 14px;
    line-height: 33px;
}
#right9_4>a{
    text-decoration:none;
}
#right9_4>a:hover{
    color: #ff9d00;
    text-decoration: underline;
}
#right9_5{
    margin-left: 10px;
    float: left;
    height: 33px;
    color: #ff9d00;
    font-size: 14px;
    line-height: 33px;
}
#right9_5:hover{
    text-decoration: underline;
}
#right9_5>img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: -3px;
}
#right9_6{
    margin-left: 10px;

    float: left;
    height: 33px;
    line-height: 33px;
    width: 60px;
    /*
    border: 1px solid black;
    */
    font-size: 14px;
    color: rgba(65, 65, 65, 0.56);
}
#right9_6>i{
    margin-top: 8px;
    float: left;
    /*
    border: 1px solid black;
    */
    height: 16px;
    width: 20px;
    background: url("../img/mafengwo/index-sprites9.png ")  no-repeat -30px -50px;

}
#right9_7{
    float: right;
}
#right9_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right9_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}

#right9_7{
    float: right;
}
#right9_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right9_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}



/*右边正文7*/
#right10_1,#rrr7{
    float: left;
}

#right10_2{
    width: 455px;
    height: 120px;
    /*
    border: 1px solid black;
    */
    margin-left: 20px;
}
#right10_3{
    clear: both;
    margin-left: 20px;
    width: 455px;
    height: 33px;
    /*
    border: 1px solid black;
    */
}


#right10_2 dt>a{
    width: 420px;
    height: 26px;
    display: block;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
#right10_2 dt>a:hover{
    color: #ff9d00;
}

#right10_2 dd>a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
#right10_2{
    float: left;
    height: 114px;
}
#right10_4>i{
    margin-top: 8px;
    overflow: hidden;
    float: left;
    width: 16px;
    height: 16px;
    /*
    border: 1px solid black;
    */
    background: url("../img/mafengwo/index-sprites9.png") no-repeat 0px -50px;
}
#right10_4{
    float: left;
    height: 33px;
    color: #666;
    font-size: 14px;
    line-height: 33px;
}
#right10_4>a{
    text-decoration:none;
}
#right10_4>a:hover{
    color: #ff9d00;
    text-decoration: underline;
}
#right10_5{
    margin-left: 10px;
    float: left;
    height: 33px;
    color: #ff9d00;
    font-size: 14px;
    line-height: 33px;
}
#right10_5:hover{
    text-decoration: underline;
}
#right10_5>img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: -3px;
}
#right10_6{
    margin-left: 10px;

    float: left;
    height: 33px;
    line-height: 33px;
    width: 60px;
    /*
    border: 1px solid black;
    */
    font-size: 14px;
    color: rgba(65, 65, 65, 0.56);
}
#right10_6>i{
    margin-top: 8px;
    float: left;
    /*
    border: 1px solid black;
    */
    height: 16px;
    width: 20px;
    background: url("../img/mafengwo/index-sprites9.png ")  no-repeat -30px -50px;

}
#right10_7{
    float: right;
}
#right10_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right10_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}

#right10_7{
    float: right;
}
#right10_7>em{
    /*
    border: 1px solid black;
    */
    color: #ff9d00;
    font-size: 14px;
}
#right10_7>a{
    display: inline-block;
    float: right;
    margin-left: 8px;
    width: 38px;
    height: 33px;
    background:   url(../img/mafengwo/index-sprites9.png) no-repeat -60px 0;
    overflow: hidden;
}

#xx{
    width: 70px;
    height: 30px;
    position: fixed;
    top: 750px;
    left: 1270px;
    z-index: 10;

}
#xx>a{
    color: #a1a1a1;
}

/*图片放大*/
#right6_1{
    /*width: 220px;
    height: 150px;*/
    overflow: hidden;

}
#right6_1>img{
    transform:scale(1);
    transition: transform 0.3s linear;

}
#rr:hover #right6_1>img{
    transform:scale(1.1);
}


/*图片放大*/
#right7_1{
    /*width: 220px;
    height: 150px;*/
    overflow: hidden;

}
#right7_1>img{
    transform:scale(1);
    transition: transform 0.3s linear;

}
#tt:hover #right7_1>img{
    transform:scale(1.1);
}


/*图片放大*/
#right8_1{
    /*width: 220px;
    height: 150px;*/
    overflow: hidden;

}
#right8_1>img{
    transform:scale(1);
    transition: transform 0.3s linear;

}
#yy:hover #right8_1>img{
    transform:scale(1.1);
}



